.toolbox-container {
    width: 300px;
    padding: 25px;

    &-sticky {
        position: sticky;
        top: 45px;
        .buttons-container {
            a {
                @include button($primary-txt-color, $secondary-color, 40px);
                font-size: 0.9rem;
                width: 250px;
                margin: 15px 0;
                transition: background 0.3s;
                &:hover {
                    background: lighten($primary-txt-color, 25%);
                }
            }
        }
        .search-bar-container {
            input {
                width: 250px;
                border-radius: 2px;
                height: 40px;
            }
        }

        .anchor-letters-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 4px;

            border: 1px solid lighten($primary-txt-color, 15%);
            border-radius: 2px;
            box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
            padding: 15px;
            margin: 45px 0;
            background: rgb(218, 218, 218);

            a {
                font-size: 1.4rem;
                text-align: center;
                height: 35px;
                width: 35px;
                line-height: 35px;
                margin: 7.5px;
                border-radius: 50%;
                transition: all 0.2s ease-out;
                &:hover {
                    color: darken($primary-color, 30%);
                    box-shadow: 0 0 10px 2px rgba(darken($primary-color, 30%), 0.6);
                    background: darken($secondary-color, 15%);
                }
            }
        }
        #search-result {
            ul {
                padding: 15px 0 0 15px;
                li {
                    padding: 5px 0;
                    a {
                        transition: padding 0.2s ease-in-out, color 0.2s ease-in-out;
                        font-size: 1.25rem;
                        &:hover {
                            padding-left: 10px;
                            color: darken($primary-color, 30%);
                        }
                    }
                }
            }
        }
    }
}
