{% block footer %}
	<footer class="footer dflex jcc aic">
		<span class="footer-app-web">Application web Kel Contact</span> | <span class="footer-made-by">made by</span><a href="https://thomas-peresson.com" target="_blank">Thomas PERESSON</a>
	</footer>
{% endblock %}
