{% extends 'base.html.twig' %}

{% block title %}Erreur 403 - Accès interdit{% endblock %}

{% block body %}

<h1>L'accès à cette page n'est pas autorisé</h1>
<h2>Erreur 403</h2>
<p>Vous n'avez pas assez de privilège pour accéder à cette page</p>

{% endblock %}